@font-face {
    font-family: 'Neue Montreal Thin';
    src: url("./fonts/PPNeueMontreal-Thin.otf");
}

@font-face {
    font-family: 'Neue Montreal Medium';
    src: url("./fonts/PPNeueMontreal-Medium.otf");
}

html {
    height: 100%;
    width: 100%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.particles {
    position: absolute;
    z-index: -2;
}

body {
    background-color: #0d0d0d;
    color: #faf8f8;
    font-weight: 200;
    width: 100vw;
    height: 100%;
    display: flex;
}

#root {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainContainer {
    display: flex;
    border: solid 1px #717175;
    height: calc(100% - 40px);
    width: calc(100vw - 40px);
    padding: 15px;
}

.mainContent {
    display: flex;
    justify-content: flex-end;
    width: calc(100% - 200px);
}

.header {
    width: 200px;
}

.header h1, .header p {
    letter-spacing: 1px;
}

.header h1 {
    font-family: "Neue Montreal Medium";
    font-size: 21px;
}

.header p {
    font-family: "Neue Montreal Thin";
    font-size: 15px;
}

.header nav {
    margin-top: 50px;
}

.header nav ul {
    list-style-type: none;
}

.header nav ul li {
    margin-bottom: 10px;
}

.header nav ul li a {
    text-decoration: none;
}

.header nav ul li a p {
    font-family: "Neue Montreal Medium";
    font-size: 16px;
    color: #ffffff;
    cursor: pointer;
}


.home {
    position: absolute;
    font-family: "Neue Montreal Medium";
    font-size: 16px;
    color: #ffffff;
    line-height: 28px;
    width: 150px;
    align-self: end;
}

.info {
    position: absolute;
    display: flex;
    flex-direction: column;
    text-align: end;
    width: 150px;
    align-self: start;
}

.info a {
    font-family: "Neue Montreal Medium";
    font-size: 15px;
    color: #ffffff;
    margin-bottom: 20px;
    text-decoration: none;
}

.certificates {
    align-self: end;
    text-align: end;
}

.certificates h3 {
    font-family: "Neue Montreal Thin";
    font-size: 15px;
    margin-bottom: 30px;
}

.certificates ul {
    width: 250px;
    list-style-type: none;
}

.certificates ul li {
    margin-bottom: 5px;
}

.certificates a {
    font-family: "Neue Montreal Medium";
    font-size: 17px;
    color: #ffffff;
    text-decoration: none;
}

.projects {
    text-align: end;
    align-self: end;
}

.project {
    margin-bottom: 30px;
}

.projects a, .projects h3 {
    font-family: "Neue Montreal Thin";
}

.projects a {
    color: #e5e5e5;
    font-size: 30px;
    text-decoration: none;
}

.projects h3 {
    font-size: 15px;
    margin-bottom: 50px;
}

.project p {
    font-family: "Neue Montreal Medium";
    font-size: 15px;
}

.contact {
    position: absolute;
    font-family: "Neue Montreal Medium";
    font-size: 17px;
    color: #ffffff;
    line-height: 28px;
    width: 110px;
    align-self: end;
}

.contact a{
    text-decoration: none;
}

.contactLink{
    color: white;
    font-size: 18px;
}

.contactText {
    margin-bottom: 40px;
}

@media (min-width: 768px) {
    .mainContainer {
        height: calc(100% - 55px);
        width: calc(100vw - 55px);
        padding: 30px;
    }

    .projects {
        align-self: center;
    }

    .header h1 {
        font-family: "Neue Montreal Thin";
    }
}

@media (min-width: 1200px) {
    .mainContainer {
        height: calc(100% - 75px);
        width: calc(100vw - 75px);
        padding: 40px;
    }

    .header {
        width: 400px;
    }

    .header h1 {
        font-size: 50px;
    }

    .header p {
        font-size: 19px;
    }

    .projects {
        align-self: center;
    }

    .projects a {
        font-size: 65px;
    }

    .header h1 {
        font-family: "Neue Montreal Thin";
    }
}

